* {margin: 0; padding: 0}

@font-face {
    font-family: OpenSans-Bold;
    font-weight: 900;
    src: url("../fonts/OpenSans-Bold.woff");
}

@font-face {
    font-family: OpenSans-Regular;
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.woff");
}

a:hover {
    background-color: #9b8ec1;
}

.header {
    background-image: url("../images/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    color: white;
    position: relative;
}


.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0a0732;
    opacity: 0.9;
}

.logo, .header-title, .container, .logo-footer, .footer-card, .logo-end {
    position: relative;
    z-index: 2;
}

.logo {
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-bottom: 35px;
}

.surface_logo_text {
    fill: white;
}

.header-title {
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    letter-spacing: 2px;
    margin-top: 85px;
    margin-bottom: 85px;
    font-size: 28px;
}

.header-title-one {
    display: block;
    margin-left: 6.5%;
    line-height: 31px;
}

.header-title-two {
    display: block;
    margin-left: 20%;
    margin-top: 25px;
}

.container {
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-bottom: 80px;
}

.download-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #5e42b0;
    border: none;
    color: white;
    font-family: OpenSans-Regular;
    font-size: 8px;
    text-transform: uppercase;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
}

.download-image {
    display: flex;
    max-height: 35px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.download-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    letter-spacing: 0.5px;
    align-items: flex-start;
    font-size: 8px;
}

.download-class {
    font-family: OpenSans-Bold;
}

.download-class-one {
    font-family: OpenSans-Regular;
}

.download-button:nth-child(n+2) {
    margin-top: 15px;
}


.download-logo {
    fill: white;
    width: 22px;
}

.games-title, .players-title {
    font-size: 50px;
    line-height: 60px;
    font-family: OpenSans-Bold;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-left: 6.5%;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
}

.athlets-image {
    background-image: url("../images/footballer_192.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 281px;
}

.card-title-container, .players-title-container {
    display: flex;
    align-items: center;
    margin-left: 6.5%;
    margin-bottom: 25px;
}

.games-card-title {
    color: #c1c1c1;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    font-size: 23px;
    line-height: 34px;
    margin-left: 10px;
    letter-spacing: 0.5px;
}


.games-card, .players-card {
    padding-top: 25px;
    padding-bottom: 55px;
}

.games-card:nth-child(n+2) {
    padding-top: 55px;
}

.games-card:nth-child(2n) {
    background-color: #f5f4f9;
}

.games-card:nth-child(3n) {
    background-color: #5e42b0;
    color: white;
}

.card-number {
    font-size: 14px;
    line-height: 34px;
    font-family: OpenSans-Bold;
    color: #000000;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.card-number::after {
    content: "";
    display: block;
    width: 17px;
    height: 5px;
    background-color: #5e42b0;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -8px;
}


.athlets-card-description, .players-card-description, .active-card-description {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 18px;
    margin-right: 6.5%;
    margin-left: 6.5%;
    letter-spacing: 0.5px;
}

.players-image {
    background-image: url("../images/basketballer_302.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 281px;
}

.players-card:nth-child(2n) {
    background-color: #f5f4f9;
}

.players-card:nth-child(3n) {
    background-color: #090c35;
    color: white;
}

.active-image-one {
    background-image: url("../images/be-active.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;
}

.active-image-two {
    background-image: url("../images/find-contact.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;
}

.active-image-three {
    background-image: url("../images/work-it.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;
}

.active-card {
    padding-bottom: 55px;
    position: relative;
    overflow: hidden;
}

.active-number {
    position: absolute;
    font-size: 14px;
    line-height: 34px;
    font-family: OpenSans-Bold;
    color: #f5f6f7;
    letter-spacing: 1px;
    padding: 15px 25px 25px;
    background-color: #5e42b0;
    margin-left: 6.5%;
    margin-top: 290px;
}

.active-number::after {
    content: "";
    display: block;
    width: 17px;
    height: 5px;
    background-color: #ffffff;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -8px;
}

.active-card-title {
    color: #e7e7e7;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    font-size: 28px;
    line-height: 34px;
    margin-top: 35px;
    margin-bottom: 24px;
    margin-left: 6.5%;
    letter-spacing: 1px;
}

.athlets-card-description {
    font-size: 16px;
    line-height: 20px;
    font-family: OpenSans-Regular;
    letter-spacing: 0.5px;
}

.footer {
    background-image: url("../images/game_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    color: white;
    position: relative;
}

.footer:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0a0732;
    opacity: 0.9;
}

.logo-footer {
    text-align: center;
    padding-top: 100px;
}

.logo-footer-image {
    width: 70px;
    box-sizing: border-box;
    background-color: #5e42b0;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    fill: white;
}

.footer-card {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 75px;
}


.footer-title {
    font-size: 32px;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-description {
    font-size: 14px;
    font-family: OpenSans-Regular;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #9b8ec1;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.logo-end {
    width: 42%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:640px) {
    .container {
        padding-bottom: 110px;
    }

    .download-buttons {
        display: flex;
        justify-content: center;
    }

    .download-button {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    .download-button:nth-child(n+2) {
        margin-top: 0;
    }

    .download-text {
        font-size: 14px;
    }

    .athlets {
        position: relative;
        overflow: hidden;
    }

    .games-title, .players-title {
        font-size: 80px;
    }

    .athlets-image {
        position: absolute;
        background-position: left;
    }

    .card-number {
        font-size: 18px;
    }

    .card-number::after {
        width: 20px;
        margin-top: -4px;
    }

    .players {
        position: relative;
        overflow: hidden;
    }

    .players-image {
        position: absolute;
        margin-left: 30%;
    }

    .active-number {
        font-size: 24px;
    }

    .active-number::after {
        width: 28px;
        height: 5px;
        border-top-left-radius: 20px ;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: -2px;
    }

    .active-card-title {
        font-size: 80px;
        line-height: 60px;
    }

    .active-card-description {
        font-size: 24px;
        line-height: 28px;
    }

    .footer-title {
        font-size: 80px;
        line-height: 60px;
    }

    .footer-description {
        font-size: 36px;
        line-height: 60px;
    }
}

@media (min-width:640px) and (max-width:959px) {
    .logo {
        width: 26%;
    }

    .header-title {
        font-size: 64px;
        margin-top: 165px;
        margin-bottom: 300px;
    }

    .header-title-one {
        margin-left: 11%;
    }

    .header-title-two {
        margin-left: 25%;
    }

    .download-button {
        width: 40%;
    }

    .download-image {
        max-height: 80px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .download-text {
        margin-left: 20px;
    }

    .download-logo {
        width: 35px;
    }

    .games-title {
        margin-left: 290px;
    }

    .athlets-image {
        background-image: url("../images/footballer_497.png");
        min-height: 699px;
        margin-top: -50px;
        margin-left: -160px;
    }

    .games-card-title {
        font-size: 32px;
    }

    .card-title-container {
        margin-left: 290px;
    }

    .games-card, .players-card {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .athlets-card-description {
        font-size: 16px;
        margin-left: 290px;
    }

    .players-image {
        background-image: url("../images/basketballer_436.png");
        min-height: 699px;
        margin-top: -190px;
    }

    .players-card-description {
        font-size: 16px;
        margin-right: 37%;
    }

    .active-number {
        padding: 35px 45px 45px;
        margin-top: 503px;
    }

    .active-image-one {
        background-image: url("../images/be-active_960.jpg");
        min-height: 583px;
    }

    .active-image-two {
        background-image: url("../images/find-contact_960.jpg");
        min-height: 583px;
    }

    .active-image-three {
        background-image: url("../images/work-it_960.jpg");
        min-height: 583px;
    }

    .active-card-title {
        line-height: 60px;
        margin-top: 85px;
        margin-bottom: 30px;
    }

    .active-card-description {
        margin-bottom: 95px;
        letter-spacing: 1px;
    }

    .logo-footer {
    }

    .logo-footer-image {
        width: 135px;
        margin-top: 30px;
    }

    .footer-card {
        margin-top: 75px;
        margin-bottom: 280px;
    }

    .logo-end {
        width: 26%;
    }


   }

@media (min-width:960px) {

    .header {
        background-image: url("../images/football_1920.jpg");
    }

    .logo {
        width: 10%;
    }

    .header-title {
        font-size: 90px;
        margin-top: 275px;
        margin-bottom: 200px;
        letter-spacing: 5px;
        margin-right: 10%;
    }

    .header-title-one {
        margin-left: 10%;
    }

    .header-title-two {
        margin-left: 33%;
    }

    .download-button {
        width: 312px;
        margin-right: 25px;
        margin-left: 25px;
    }

    .download-image {
        margin-top: 23px;
        margin-bottom: 23px;
    }

    .download-logo {
        width: 50px;
    }

    .games-title {
        margin-left: 52%;
    }

    .athlets-image {
        background-image: url("../images/footballer_566.png");
        min-height: 908px;
        margin-top: -170px;
        margin-left: 20%;
    }

    .games-card, .players-card {
        padding-top: 55px;
        padding-bottom: 50px;
    }

    .games-card-title {
        font-size: 36px;
        letter-spacing: 1.5px;
    }

    .card-title-container {
        margin-left: 52%;
    }

    .athlets-card-description {
        font-size: 20px;
        line-height: 28px;
        margin-left: 52%;
        margin-right: 10%;
    }

    .card-number {
        margin-top: -3px;
    }

    .players-title {
        margin-top: 115px;
    }

    .players-image {
        background-image: url("../images/basketballer_991.png");
        min-height: 815px;
        margin-top: -240px;
    }

    .players-card-description {
        font-size: 20px;
        line-height: 28px;
        margin-right: 50%;
    }

    .active-card {
        display: flex;
        padding-bottom: 0;
    }

    .active-card:nth-child(2n+2) {
        flex-direction: row-reverse;
    }

    .active-image-one, .active-image-two, .active-image-three {
        width: 50%;
        min-height: 730px;
    }

    .active-number {
        margin-left: calc(50% - 80px);
        padding: 60px 65px 65px;
        margin-top: 265px;
    }

    .active-number:nth-child(even) {

    }

    .active-container {
        width: 50%;
    }

    .active-card-title {
        margin-top: 250px;
        margin-left: 128px;
        letter-spacing: 2px;
    }

    .active-card-description {
        margin-left: 130px;
        margin-top: 115px;
        margin-right: 130px;
        letter-spacing: 1px;
    }

    .footer {
        background-image: url("../images/game_1920.jpg");
    }

    .logo-container {
        display: flex;
        justify-content: center;
    }

    .logo-footer {
        margin-top: 228px;
        padding-top: 0;
        margin-bottom: 145px;
    }

    .logo-footer-image {
        width: 130px;
    }

    .footer-card {
        margin-top: 228px;
        margin-left: 40px;
        margin-bottom: 145px;
        padding-top: 10px;
    }

    .footer-title {
        letter-spacing: 3px;
    }

    .footer-description {
        margin-left: 0;
        letter-spacing: 1px;
    }

    .logo-end {
        width: 190px;
        margin-top: 145px;
        padding-bottom: 50px;
    }


}

@media (min-width: 961px) and (max-width: 1663px) {
    .athlets-image {
        margin-left: 0;
    }

}